body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 3rem;
    color: #007bff;
}

p {
    font-size: 1.5rem;
    margin-top: 20px;
}
